---
import { Image } from "@astrojs/image/components";
import working from "../assets/working.svg";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title={"Read Our Latest Blogs"}
  text={"booking"}
  path="/reservation">
  <section class="our-contacts">
    <h1 class="headline">Contact Page Working On Progress...</h1>
    <Image src={working} alt=" working on progress " class="working-img" />
  </section>
</MainLayout>

<style>
  .our-contacts {
    padding-block: 4rem;
    min-height: 100vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .working-img {
    width: 70vw;
    height: 70vh;
  }
</style>
