---
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-image.png";
import { aboutData } from "../data/data";
console.log(aboutData);
---

<section class="about">
  <div class="container flex-between">
    <div class="about-content">
      <Image
        src={aboutImg}
        alt="old restaurant images"
        class="about-image"
        typeof="avif"
        fit={"cover"}
      />
    </div>
    <div class="about-info">
      <h3 class="gradient-text">Our story</h3>
      {
        aboutData.map((item) => (
          <div class="about-titles">
            <h4>{item.title}</h4>
            <p>{item.subtitle}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .about {
    min-height: 100vh;
    background-color: hsla(var(--clr-primary), 0.3);
    padding: 4rem 0;
  }
  .container {
    width: 90%;
    margin-inline: auto;
  }
  .about-content {
    width: 40%;
  }
  .about-image {
    width: 100%;
    object-fit: cover;
    border: 10px;
  }
  .about-info {
    width: 50%;
  }
  .about-titles {
    margin-block: 0.5rem;
  }
  h3 {
    font-size: var(--fs-lg);
    text-transform: uppercase;
    color: hsl(var(--clr-grey-400));
    font-family: var(--font-secondary);
  }
  h4 {
    font-size: var(--fs-regular);
    color: hsla(var(--clr-grey-400), 0.7);
  }
  p {
    font-size: var(--fs-sm);
    color: hsla(var(--clr-grey), 0.7);
    font-weight: 400;
  }
  @media (max-width: 600px) {
    .container {
      flex-direction: column;
      gap: 2rem;
    }
    .about-content,
    .about-info {
      width: 100%;
    }
  }
</style>

<!-- Swiper JS -->
