---
import Button from "./Button.astro";
import Slider from "./Slider.astro";
import Title from "./Title.astro";
---

<section class="events" aria-label="Events">
  <Title title={"CATERING FOR YOUR WEDDINGS & EVENTS"} />

  <Button text={"book a catering"} path="/" a={true} button={false} />
  <Slider />
</section>

<style>
  .events {
    width: 100%;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    padding-block: 4rem;
  }

  @media (max-width: 600px) {
    .events {
      flex-direction: column-reverse;
    }
    p {
      display: none;
    }
  }
</style>
