---
import { Image } from "@astrojs/image/components";
// assets
import gradient from "../../public/gradient.svg";
import HeroLayout from "../layouts/HeroLayout.astro";
const data = {
  title: "OUTSTANDING EUROPEAN CUISINE",
  subtitle:
    "We use only the finest local ingredients available and offer seasonal specials throughout the year",
  outline: true,
  path: "/booking",
  buttonText: "Book a table",
};
---

<section class="hero" aria-label="Hero section">
  <HeroLayout data={data} />

  <Image
    src={gradient}
    alt=""
    typeof=""
    aspectRatio={1 / 1}
    class="gradient-img"
  />
</section>

<style>
  .hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .gradient-img {
    position: absolute;
    bottom: -12vh;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
  }

  @media (max-width: 600px) {
    .hero {
      width: 100%;
      min-height: 70vh;
      position: relative;
    }
    .hero::after {
      background: linear-gradient(
        45deg,
        hsla(var(--clr-red), 0.5),
        hsla(var(--clr-green), 0.5),
        hsla(var(--clr-blue), 0.5)
      );
      position: absolute;
      content: "";
      inset: 0;
      height: 90%;
      z-index: -1;
      background-size: 400%;
      animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .gradient-img {
      display: none;
    }
  }
</style>
