---
const { title } = Astro.props;
---

<h2 class="title">{title}</h2>

<style>
  .title {
    font-size: var(--fs-3xl);
    color: hsl(var(--clr-grey-400));
    font-family: var(--font-secondary);
    line-height: var(--fs-3xl);
    text-transform: uppercase;

    text-align: center;
    width: 80%;
    margin-inline: auto;
    font-weight: 600;
  }

  @media (max-width: 600px) {
    .title {
      font-size: var(--fs-semi);
      line-height: 38px;
    }
  }
</style>
