---
const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/style.css";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <!-- swiper js css  -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
  />
  <!-- google fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@400;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <!-- google fonts  -->
  <title>{title}</title>
</head>
