---
const { data } = Astro.props;
---

<div>
  <h1 class="headline">{data.title}</h1>
  <p>
    {data.subtitle}
  </p>
  {
    data.outline ? (
      <div class="table-btn">
        <a href={"/Booking"} class="outline-btn">
          Book a table
        </a>
      </div>
    ) : (
      <div class="table-btn">
        <a href={"/Booking"} class="fill-btn">
          Book a table
        </a>
      </div>
    )
  }
</div>

<style>
  p {
    font-size: var(--fs-regular);
    font-weight: 400;
    text-align: center;
    width: 45%;
    margin-inline: auto;
    color: hsl(var(--clr-grey));
    margin-block: 1em;
    line-height: 30px;
    opacity: 0.7;
  }
  .table-btn {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1em 0;
  }
  .outline-btn {
    text-transform: uppercase;
    letter-spacing: var(--ls-xl);
    background-color: transparent;
    border: 1px solid hsl(var(--clr-grey));
    padding: 22px 42px;
    border-radius: 80px;
    transition: background-color 400ms var(--transition),
      color 400ms var(--transition);
    line-height: 130%;
    color: hsl(var(--clr-grey));
    cursor: pointer;
  }
  .outline-btn:hover {
    background-color: hsl(var(--clr-red));
    border: 1px solid hsl(var(--clr-red));
  }

  .outline-btn:focus {
    outline-color: hsl(var(--clr-grey));
  }

  @media (max-width: 600px) {
    div {
      width: 90%;

      margin-inline: auto;
    }

    p {
      width: 80%;
      display: none;
    }
    .outline-btn {
      padding: 15px 30px;
    }
  }
</style>
