---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import HeadLayout from "./HeadLayout.astro";
const { title, path, text } = Astro.props;
---

<html lang="en">
  <HeadLayout {title} />
  <body id="smooth-wrapper">
    <Navbar {path} {text} />
    <main id="smooth-containt">
      <slot>Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
