---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import HeadLayout from "./HeadLayout.astro";
const { title, path, text } = Astro.props;
console.log(Astro.props);
---

<html lang="en">
  <HeadLayout {title} />
  <body>
    <Navbar {path} {text} />
    <main>
      <slot>Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
