---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import HeadLayout from "./HeadLayout.astro";
---

<html lang="en">
  <HeadLayout title={"Elara The Italian Cusin Restaurent"} />
  <body>
    <Navbar />
    <main>
      <slot>Default Text</slot>
    </main>
    <Footer />
  </body>
</html>
